body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
#instruction-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Align to the right side */
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    max-width: 300px;
}

#instruction-bubble p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #333;
}


/* Responsive typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    /* Adjust font sizes and layout for mobile devices */
    header {
        padding: 0.5rem 0;
    }
    h1 {
        font-size: 1.5rem;
    }

}
@media only screen and (max-width: 600px) {
    .hero-text h1 {
        font-size: 20px;
    }
    .hero-text p {
        font-size: 18px;
    }
}

@keyframes bubbleEffect {
    0%, 100% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.05);
    }
}

#instruction-bubble p {
    margin: 10px 0;
    text-align: center;
}

.slide-content {
    position: absolute;
    top: 100%;  /* Initially hidden */
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: top 0.5s ease;  /* Animation */
    overflow-y: scroll;  /* Allow scrolling if content is long */
    overflow-x: hidden;  /* Prevent horizontal overflow */
}
.slides-container {
    display: flex;
    height: 100vh;
    transition: transform 0.5s ease;
    overflow: hidden;
    width: 100vw; /* Restrict to viewport width */
}

/* Main slide styles */
.slide {
    flex: 0 0 20%;
    height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.5s ease;
    overflow-y: auto; /* Allow vertical scrolling if content is long */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: #f1f1f1;
    text-align: center;
    padding: 0; /* Reset padding */
    border: none;
}

.slide h1 {
    margin: 0;
    text-align: center; /* Centers text horizontally */
    width: 100%; /* Ensures the h1 element spans the full width of its parent */
    margin-top: 400px;
}

.controls {
    position: fixed;
    width: 100%;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.dots {
    display: flex;
    gap: 10px;
}

#exit-btn {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 5px 0;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}
.slide-content {
    position: absolute;
    top: 100%;  /* Initially hidden */
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: top 0.5s ease;  /* Animation */
    overflow-x: hidden;  /* Allow scrolling if content is long */
    padding: 0 5vw;
    display: flex; /* Use flex to align children */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}


.slide-content.active {
    top: 30%;  /* Slide up to show the content, keeping 30% of the slide visible */
}


./* Decreasing the font size for a more compact look */
.slide h1 {
    font-size: 2em;
}

/* Photo placeholder */
.photo-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 20px;
    border: 5px solid #333;
}

/* Enhanced name styling */
.name {
    color: #333;
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

.info {
    flex-direction: column; /* Stack the info elements */
    align-items: flex-start; /* Align to the left */
}
/* Enhanced info styling */
.info div {
    background-color: #f9f9f9;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.name, .info {
    width: 90%; /* Use full width of the slide-content */
    box-sizing: border-box; /* Include padding in the width */
    padding: 0 10px; /* Small padding on the left and right */
    margin: 0 auto;

}

.info i {
    color: gold;
    margin-right: 10px;
}
.info div {
    margin-bottom: 1em; /* Add some vertical space between info elements */
}
/* Enhanced section styling */
.section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px; /* Add space between sections */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.section h2 {
    color: #2c3e50;
    border-bottom: 3px solid #3498db;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.box {
    background-color: #ecf0f1;
    padding: 20px;
    border-left: 5px solid #3498db;
    margin-bottom: 15px;
}

.box h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #2c3e50;
}

.box p {
    font-size: 1.2em;
    margin-bottom: 0;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .homepage-content {
        padding: 20px;
    }

    .name {
        font-size: 2em;
    }

    .contact-info p {
        font-size: 1em;
    }
}

.active-slide {
    min-width: 100vw !important;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project .duration {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.project .skills {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
    color: #007bff;
}

footer {
    text-align: center;
    margin: 20px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project .duration {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

.project .skills {
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
    color: #007bff;
}

footer {
    text-align: center;
    margin: 20px 0;
}

/* Story Bars Styles */
#story-bars-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    z-index: 10;
}
@keyframes fillBar {
    from { width: 0; }
    to { width: 100%; }
}

.story-bar {
    width: 0%;
    height: 4px;
    background: blue; /* Replace with your desired color */
    position: relative;
}

.story-bar-active {
    animation: fillBar 30s linear forwards;
}


/* Portfolio Section */
.portfolio-section {
    text-align: center;
    padding: 40px 0;
    background-color: #f7f7f7;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item:hover img,
.gallery-item:hover video {
    transform: scale(1.05);
}

.gallery-item-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    padding: 10px;
    transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-item-description {
    transform: translateY(0);
}

/* Add a hover effect to the whole gallery item */
.gallery-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}





